:root {
  --primary: #aa9f7c;
  --secondary: #e0cc96;
  --tertiary: #e7e7e7;
  --dark: #33322d;
  --light: #fafafa;
}

body {
  font-family: 'Futura', 'Montserrat', sans-serif;
  background-color: var(--light);
  color: var(--dark);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Ensure pseudo-elements are positioned relative to this container */
}

.app-container::before,
.app-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px; /* Adjust the width of the margins */
  background-color: var(--tertiary);
}

.app-container::before {
  left: 0; /* Left margin */
}

.app-container::after {
  right: 0; /* Right margin */
}

.content {
  flex: 1;
  padding: 50px;
}

.header {
  background-color: var(--light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;
}

.header h1 {
  font-size: 4rem;
  padding: 10px;
  color: var(--dark);
  text-shadow: 2px 2px 4px #000000;
}

.nav-container {
  display: flex;
  justify-content: space-between; /* Push left and right to edges */
  align-items: center;
  background-color: var(--light);
  padding: 10px 10px; /* Increase horizontal padding for more space */
  gap: 0;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 100px; /* Increase space between links */
  justify-content: flex-start;
}

.nav-left {
  margin-right: 60px; /* Space between left links and logo */
}

.nav-right {
  margin-left: 60px;  /* Space between logo and right links */
}


.nav-right {
  justify-content: flex-end;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}

.nav-logo {
  width: 200px;
  height: auto;
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.nav-link.active {
  background-color: var(--secondary);
  color: var(--light);
}
.home {
  padding: 0 20px;
}

.home-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.home-content p {
  flex: 1;
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 0;
}

.portfolio {
  padding: 0 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project {
  position: relative;
}

.project-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.project-image-container:hover .project-image {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-image-container:hover .project-overlay {
  opacity: 1; /* Show overlay on hover */
}

.project-overlay h2 {
  margin: 0;
  font-size: 4rem;
  margin-bottom: 10px;
}

.project-links a {
  color: var(--light);
  text-decoration: none;
  display: block;
  margin: 5px 0;
  font-size: 2rem;
  text-align: center;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: var(--secondary);
}

.contact {
  padding: 0 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group .error {
  color: rgb(255, 208, 0);
  font-size: 0.875rem;
  margin-top: 5px;
  display: block;
}

button {
  padding: 10px 20px;
  background-color: var(--tertiary);
  color: var(--dark);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.resume {
  padding: 0 20px;
}

.resume-download {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--tertiary);
  color: var(--dark);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.resume-download:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.proficiencies-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  list-style-type: none; 
  padding: 0; 
}

.proficiencies-list li {
  display: flex;
  align-items: center; 
  font-size: 1.25rem; 
}

.proficiencies-list li svg {
  margin-right: 10px; 
}

.footer {
  background-color: var(--tertiary);
  color: var(--dark);
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  color: var(--dark);
  margin: 0 10px;
  font-size: 3rem;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: var(--secondary);
}


@media (max-width: 1024px) {
  .nav-container {
    flex-direction: row;
    gap: 20px;
  }
  .nav-left,
  .nav-right {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .nav-center {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .home-content p {
    margin-top: 20px;
    text-align: center;
  }
  .projects-grid {
    grid-template-columns: 1fr; /* Show projects in a single column */
  }

  .nav-left {
  margin-right: 10px; /* Space between left links and logo */
}

.nav-right {
  margin-left: 10px;  /* Space between logo and right links */
}
}

@media (max-width: 425px) {
  .content {
    padding: 0px 0px 40px;
  }
  .app-container::before,
  .app-container::after {
  width: 10px;
}
  
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 2px;      /* Smaller padding */
    min-height: 40px;      /* Optional: set a smaller min height */
  }
  .nav-center {
    order: 1;
    justify-content: flex-start;
    flex: none;
  }
  .nav-logo {
    width: 110px;           /* Smaller logo */
    height: auto;
  }
  .nav-link {
    font-size: 0.85rem;    /* Smaller font */
    padding: 4px 8px;      /* Smaller padding */
  }
  .nav-left,
  .nav-right {
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;              /* Less gap between links */
  }
  .nav-right {
    order: 2;
    margin-left: -20px; /* Adjust margin for right links */
    align-items: flex-start
  }

  .nav-left {
    order: 0;
    margin-right: -20px;

  }

  h1 {
    text-align: center;
    width: 100%;
  }
  .resume,
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .resume * {
    text-align: center;
  }

  .project-overlay h2 {
    font-size: 1.5rem;
    align-items: center;
    padding-right: 10px;
  }
  .project-links a {
    font-size: .9rem;
    padding: 4px 10px 0px 0px;
    align-items: center;
  }
  .project-overlay {
    padding: 10px;
  }

  .contact * {
    text-align: center;
  }
  .contact form {
    width: 90%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .contact .form-group {
    width: 100%;
  }
  .contact input,
  .contact textarea,
  .contact button {
    width: 100%;
    box-sizing: border-box;
  }
}